
$primary-font-family: 'robotoregular';
$secoundry-font-family: 'robotomedium';
$info-bold-font-family: 'robotobold';

/* color*/
$white-color: #fff;
$light-primary-color: #F6FAFF;
$gary-color: #4B4B5B;
$light-gary-color: #9B9696;
$blue-color: #0E71EB;
$sky-blue-color: #E1EAF5;    
$light-dark-color: #39394B;
$sky-light-color: #F0F6FF;
$secsece-color: #9F9FB6;
$black-color: #39394B;
$orange-color: #FFBD24;
$body-color:#FAFBFE;
$info-color:#C5D1E0;
$pistha-color:#2DB3B4;
$poup-color:#E1E1E8;
$tr-color:#E5E7E9;
$cyan-color:#E1EEFF;

/*spacing*/

$gap-padding-right:20px;